<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>My Website</title>

  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
  <main>{{{body}}}</main>

  <script src="/node_modules/htmx.org/dist/htmx.min.js"></script>
</body>

</html>