<div class="container p-4" style="width: 50%">
  <div class="card card-body shadow-lg">
    <div class="index-title">Activity Badge</div>

    <p>
      The free web service that generates GitHub markdown badges based on your activity on platforms like Steam and
      Spotify. With ActivityBadge, you can showcase your current gaming or music listening activity on your GitHub
      profile readme. Sign up with GitHub to get started today!
    </p>

    <a href="/oauth2/github/login">
      <button
        type="button"
        class="btn btn-dark"
        style="max-width: fit-content;"
      >Sign up with GitHub</button>
    </a>
  </div>
</div>